/* SECOND WEEK OF FONTS */

.big-outter-container {
  background-color: #334653;
  border: 2px solid black;
  height: 70%;
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: 70%;
}

.second-exercise {
  border: 2px solid white;
  color: white;
  font-size: 1.5em;
  height: 25px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  width: 25px;
}

.date {
  color: white;
  font-size: 1.2em;
  font-family: 'Vollkorn', serif;
  left: 0;
  position: absolute;
  top: 0;
}

/* OUTTER CONTAINER FOR THE COULD-CONTENT
AND WONT-CONTENT SECTIONS */
.text-center {
  margin: auto;
  margin-bottom: 60px;
  width: 70%;
}

.could-content {
  margin-top: 30px;
}

.wont-content span {
  background-color: #f2f2f2;
  color: #ff4a4a;
}

/* GLOBAL STYLING FOR ALL SPANS */
span {
  color: #f2f2f2;
  background: #ff4a4a;
  border: 1px solid white;
  display: inline-flex;
  font-family: 'Vollkorn', serif;
  font-size: 50px;
  line-height: 49px;
  margin: 0 5px 24px;
  padding: 10px;
}

/* STYLING FOR SPECFIC SPANS */
.animal, .could, .wont {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-style: italic;
}

.vollkorn-font, .open-sans-font {
  color: white;
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 1em;
  text-decoration: none;
}

.vollkorn-font {
  font-family: 'Vollkorn', serif;
}
.open-sans-font {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 25px;

}
